.advetise{
    display:flex;
    border-bottom: 1px solid gray;
    margin:10px;
    padding:10px;
}
.discription{
    margin-left: 50px;
}
.discription h1{
    color: orangered;
}
.discription h3{
    color: seagreen;
}
.discription button{
    
    width: 200px;
    padding:5px;
    font-size: 15px;
}